fastapi
uvicorn
pymongo
redis
boto3
pandas
numpy
polars>=0.20.0
fastexcel>=0.15.1
numba
minio
motor
python-multipart
pyarrow>=15.0.0
asyncpg
openpyxl
xlsxwriter
pydantic-settings==2.10.1
statsmodels
scikit-learn
python-dotenv
python-pptx
Pillow
reportlab
