services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --config /etc/cloudflared/config.yml run
    volumes:
      - ./tunnelCreds:/etc/cloudflared:ro
    networks:
      - trinity-dev-net
    restart: always

networks:
  trinity-dev-net:
    external: true
    name: trinity-dev-net
