{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: trinity-ingress
  namespace: {{ .Values.global.namespace }}
  labels:
    app: trinity
  annotations:
    {{- toYaml .Values.ingress.annotations | nindent 4 }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    - host: {{ .Values.global.domain | quote }}
      http:
        paths:
          - path: /admin
            pathType: Prefix
            backend:
              service:
                name: trinity-django
                port:
                  number: {{ .Values.services.ports.django }}
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: trinity-fastapi
                port:
                  number: {{ .Values.services.ports.fastapi }}
          - path: /trinityai
            pathType: Prefix
            backend:
              service:
                name: trinity-ai
                port:
                  number: {{ .Values.services.ports.ai }}
          - path: /
            pathType: Prefix
            backend:
              service:
                name: trinity-frontend
                port:
                  number: {{ .Values.services.ports.frontend }}
{{- end }}
