server:
  http_listen_port: 0
  grpc_listen_port: 0
positions:
  filename: /tmp/positions.yaml
clients:
  - url: http://loki:3100/loki/api/v1/push
scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: container
      - source_labels: ['__meta_docker_container_label_com_docker_compose_service']
        target_label: compose_service
      - source_labels: ['__meta_docker_container_label_com_docker_compose_project']
        target_label: compose_project
    pipeline_stages:
      - match:
          selector: '{compose_service=~"web|fastapi|celery|trinity-ai"} |~ "redis_cache_event"'
          stages:
            - regex:
                expression: 'redis_cache_event (?P<json>{.*})'
            - json:
                source: json
            - labels:
                event:
                command:
                service:
                namespace:
            - output:
                source: json
