fastapi
uvicorn
pydantic
wikipedia
numpy
langgraph
scikit-learn
requests
pandas
pyarrow>=15.0.0
minio
redis
pymongo
python-dotenv
# langchain
# langchain-community
langchain>=0.0.300,<1.0.0
langchain-community>=0.0.20
ollama
jsonschema
polars>=0.20.0
numba>=0.58.0
python-multipart>=0.0.6
